.recetas{
    background: #e5e5e5;
    display: flex; /*alinear elementos*/
    flex-wrap: wrap; /*quebrar los elementos en columnas*/
    padding: 5rem 0 0 5rem;
}

@media screen and (min-width: 0) {
    .recetas{
        padding: 5rem 0 0 1rem;
    }
    
}

@media screen and (min-width: 768px) {
    .recetas{
        padding: 5rem 0 0 2.5rem;
    }
    
}
@media screen and (min-width: 922px) {
    .recetas{
        padding: 5rem 0 0 5rem;
    }
    
}